In [1]:
!pip install pymongo

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pymongo in /usr/local/lib/python3.8/dist-packages (4.3.3)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /usr/local/lib/python3.8/dist-packages (from pymongo) (2.2.1)

In [2]:
from pymongo import MongoClient

In [3]:
client = MongoClient("mongodb+srv://ASHA:Mongo123@cluster0.d8euiae.mongodb.net/?retryWrites=true&w=majority")

In [4]:
client.list_database_names()  #sure the connection

['Student',
 'market',
 'sample_airbnb',
 'sample_analytics',
 'sample_geospatial',
 'sample_guides',
 'sample_mflix',
 'sample_restaurants',
 'sample_supplies',
 'sample_training',
 'sample_weatherdata',
 'admin',
 'local']

In [5]:
db = client['Student']

In [6]:
coll = db['Student_coll']

In [7]:
import json

In [8]:
file = open('students.json' ,'r')

In [ ]:
for i in file:
  x = json.loads(i)
  coll.insert_one(x)

In [9]:
from pprint import pprint

In [10]:
client.list_database_names()

['Student',
 'market',
 'sample_airbnb',
 'sample_analytics',
 'sample_geospatial',
 'sample_guides',
 'sample_mflix',
 'sample_restaurants',
 'sample_supplies',
 'sample_training',
 'sample_weatherdata',
 'admin',
 'local']

In [17]:
coll.count_documents({})

200

In [ ]:
for j in coll.find():
  pprint(j)

**2) Find students who scored below average in the exam and pass mark is 40%?**

In [ ]:

below_avg_students = []
for i in coll.find({},{"_id" :0 , "name":1 , "scores":1}):
  if i['scores'][0]['score'] < 40:
    below_avg_students.append(i['name'])
print(below_avg_students)
print(len(below_avg_students))

['aimee Zank', 'Jenette Flanders', 'Daphne Zheng', 'Alix Sherrill', 'Dodie Staller', 'Fletcher Mcconnell', 'Jonie Raby', 'Edgar Sarkis', 'Laureen Salomone', 'Kaila Deibler', 'Tandra Meadows', 'Carli Belvins', 'Synthia Labelle', 'Richelle Siemers', 'Mariette Batdorf', 'Aleida Elsass', 'Ernestine Macfarland', 'Lady Lefevers', 'Barbera Lippman', 'Alica Pasley', 'Malisa Jeanes', 'Danika Loeffler', 'Joaquina Arbuckle', 'Dusti Lemmond', 'Rubie Winton', 'Kim Xu', 'Cody Strouth', 'Harriett Velarde', 'Leola Lundin', 'Len Treiber', 'Echo Pippins', 'Santiago Dollins', 'Tonisha Games', 'Brain Lachapelle', 'Toshiko Sabella', 'Ty Barbieri', 'Ta Sikorski', 'Lucinda Vanderburg', 'Darby Wass', 'Omar Bowdoin', 'Tania Hulett', 'Karry Petrarca', 'aimee Zank', 'Aurelia Menendez', 'Bao Ziglar', 'Jenette Flanders', 'Salena Olmos', 'Sanda Ryba', 'Denisha Cast', 'Fletcher Mcconnell', 'Verdell Sowinski', 'Gisela Levin', 'Rosana Vales', 'Tamika Schildgen', 'Jesusa Rickenbacker', 'Rudolph Domingo', 'Jonie Raby', 'Kaila Deibler', 'Tandra Meadows', 'Gwen Honig', 'Sadie Jernigan', 'Synthia Labelle', 'Ernestine Macfarland', 'Kurtis Jiles', 'Barbera Lippman', 'Dinah Sauve', 'Elizabet Kleine', 'Joel Rueter', 'Joaquina Arbuckle', 'Grady Zemke', 'Rubie Winton', 'Whitley Fears', 'Kim Xu', 'Merissa Mann', 'Cody Strouth', 'Leonida Lafond', 'Devorah Smartt', 'Len Treiber', 'Echo Pippins', 'Tonisha Games', 'Timothy Harrod']
81

3**) Find students who scored below pass mark and assigned them as fail, and above pass mark as pass in all the categories.**

In [32]:

fail_list = []
pass_list = []
for i in coll.find():
  if i['scores'][0]['score'] < 40 and i['scores'][1]['score']<40 and i['scores'][2]['score']<40 :
    fail_list.append(i['name'])
  if i['scores'][0]['score'] >= 40 and i['scores'][1]['score']>=40 and i['scores'][2]['score']>=40 :
    pass_list.append(i['name'])
print(fail_list)
print(pass_list)

['aimee Zank']
['Aurelia Menendez', 'Salena Olmos', 'Denisha Cast', 'Marcus Blohm', 'Quincy Danaher', 'Jessika Dagenais', 'Verdell Sowinski', 'Tressa Schwing', 'Tamika Schildgen', 'Gwen Honig', 'Eugene Magdaleno', 'Tawana Oberg', 'Joel Rueter', 'Tresa Sinha', 'Grady Zemke', 'Whitley Fears', 'Gena Riccio', 'Merissa Mann', 'Jenise Mcguffie', 'Tonia Surace', 'Mariela Sherer', 'Timothy Harrod', 'Rae Kohout', 'Osvaldo Hirt', 'Maren Scheider', 'Carli Ector', 'Jaclyn Morado', 'Mercedez Garduno', 'Brittny Warwick', 'Shin Allbright', 'Mikaela Meidinger', 'Flora Duell', 'Nobuko Linzey', 'Gennie Ratner', 'Corliss Zuk', 'Zachary Langlais', 'Wilburn Spiess', 'Quincy Danaher', 'Jessika Dagenais', 'Tambra Mercure', 'Dodie Staller', 'Edgar Sarkis', 'Terica Brugger', 'Tawana Oberg', 'Malisa Jeanes', 'Tresa Sinha', 'Dusti Lemmond', 'Jenise Mcguffie', 'Harriett Velarde', 'Kam Senters', 'Leola Lundin', 'Adrien Renda', 'Efrain Claw', 'Mariela Sherer']

In [ ]:
import pandas as pd  #convert json to pandas dataframe for easy read of nested data

In [ ]:
df = pd.read_json('students.json' , lines = True)
df

     _id              name                                             scores
0      0        aimee Zank  [{'score': 1.463179736705023, 'type': 'exam'},...
1      1  Aurelia Menendez  [{'score': 60.06045071030959, 'type': 'exam'},...
2      2       Corliss Zuk  [{'score': 67.03077096065002, 'type': 'exam'},...
3      3        Bao Ziglar  [{'score': 71.64343899778332, 'type': 'exam'},...
4      4  Zachary Langlais  [{'score': 78.68385091304332, 'type': 'exam'},...
..   ...               ...                                                ...
195  195     Linnie Weigel  [{'score': 52.44578368517977, 'type': 'exam'},...
196  196  Santiago Dollins  [{'score': 52.04052571137036, 'type': 'exam'},...
197  197     Tonisha Games  [{'score': 38.51269589995049, 'type': 'exam'},...
198  198    Timothy Harrod  [{'score': 11.9075674046519, 'type': 'exam'}, ...
199  199        Rae Kohout  [{'score': 82.11742562118049, 'type': 'exam'},...

[200 rows x 3 columns]

**4)Find the total and average of the exam, quiz and homework and store them in a separate collection.**

In [ ]:
s1 = {'$unwind':'$scores'}
s2 = {'$group' : {'_id': '$scores.type' ,'avg_score':{'$avg' : '$scores.score' },'Total_score' : {"$sum" : '$scores.score'}}}
s3 = {"$out" : 'new_coll'}   #this will not work with atlas
for i in coll.aggregate([s1,s2]):
  print(i)

{'_id': 'exam', 'avg_score': 48.67367075950175, 'Total_score': 9734.734151900351}
{'_id': 'quiz', 'avg_score': 48.99672319430254, 'Total_score': 9799.344638860508}
{'_id': 'homework', 'avg_score': 67.81869620661149, 'Total_score': 13563.739241322297}

**5) Create a new collection which consists of students who scored below average and above 40% in all the categories.**

In [26]:
#here taken avg score 50
students_name = []
for i in coll.find():
  check = []
  if (i['scores'][0]['score']>40) and (i['scores'][0]['score']<50):
    check.append(True)
  else:
    check.append(False)
  if (i['scores'][1]['score']>40) and (i['scores'][1]['score']<50):
    check.append(True)
  else:
    check.append(False)
  if (i['scores'][2]['score']>40) and (i['scores'][0]['score']<50):
    check.append(True)
  else:
    check.append(False)
  if all(check):
    students_name.append(i['name'])
print(students_name)
new_coll = db['students_scored_below_average_and_above_40%_in_all_the_categories']  
new_coll.insert_one({'_id':1, 'Name' : students_name})

['Mercedez Garduno', 'Flora Duell', 'Kam Senters', 'Mariela Sherer']

**6)Create a new collection which consists of students who scored below the fail mark in all the categories.**

In [28]:
new_coll1 = db['below_fail_mark']
students_name = []
for i in coll.find():
  if i['scores'][0]['score'] < 40 and i['scores'][1]['score'] < 40 and i['scores'][2]['score'] < 40:
    students_name.append(i['name'])
new_coll1.insert_one({"_id" : 1 , "name": students_name})

**7)Create a new collection which consists of students who scored above pass mark in all the categories.**

In [38]:
new_coll2 = db['above_pass_mark']
above_pass_mark = []
for i in coll.find():
  if i['scores'][0]['score'] >40 and i['scores'][1]['score'] >40 and i['scores'][2]['score'] >40:
    above_pass_mark.append(i['name'])
print(len(above_pass_mark))
new_coll2.insert_one({'_id':1 , 'names':above_pass_mark})

54